{% extends "base.html" %}
{% block title %}This is your Basket{% endblock %}
{% block body %}

{% if not BasketItems %}

<section class="jumbotron text-center">
    <div class="container">
        <h1 class="jumbotron-heading">Your Basket is empty</h1>
        <img src="/img/sadDog.png">
        <div class="col-lg-4 mx-auto">
            <hr>
            <a href="/">
                <button class="btn btn-block btn-primary">Continue Shopping</button>
            </a>
        </div>
    </div>
</section>

{% else %}


<!-- Basket Header -->
<section class="jumbotron text-center">
    <div class="container">
        <h1 class="jumbotron-heading">This is your Basket</h1>
    </div>
</section>


<!-- Basket Elements -->

<div class="container mb-4">
    <div class="row">
        <div class="col-12">
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th scope="col"></th>
                        <th scope="col">Product</th>
                        <th scope="col">Available</th>
                        <th scope="col">Quantity</th>
                        <th scope="col" class="text-right">Price</th>
                        <th scope="col" class="text-right">Delete</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                        {% for BasketItems in BasketItems %}
                    <tr>
                        <td><img class="BasketImg" src="{{BasketItems.ImgPath}}"/></td>
                        <td>{{BasketItems.ItemName}}</td>
                        <td>{{BasketItems.Stock}}</td>
                        <td class="text-center">
                            <form method="post" action="/basket/updateArticle">
                                <input type="text" class="form-control" style="width:80px" name="productAmount" value={{BasketItems.Amount}}>
                                <input type="hidden" name="csrf_token" value="{{session.csrf_token}}">
                                <input type="hidden" name="productId" value={{BasketItems.ID}}>
                            </form>
                        </td>
                        <td class="text-right">{{BasketItems.Price}} €</td>
                        <td class="text-right">
                            <form method="post" action="/basket/deleteArticle">
                                <input type="hidden" name="productId" value={{BasketItems.ID}}>
                                <input type="hidden" name="csrf_token" value="{{session.csrf_token}}">
                                <input class="btn btn-sm btn-danger" type="submit" value="Delete">

                            </form>
                        </td>
                    </tr>
                    <tr>
                        {% endfor %}
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td><strong>Total</strong></td>
                        <td class="text-right"><strong>{{TotalPrice}} €</strong></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="col mb-2">
            <div class="row">
                <div class="col-sm-12  col-md-6">
                    <a href="/">
                        <button class="btn btn-lg btn-block btn-primary">Continue Shopping</button>
                    </a>
                </div>
                <div class="col-sm-12 col-md-6 text-right">
                    <a href="/showOrderAddress" role="button" class="btn btn-lg btn-block btn-success">Checkout</a>
                </div>
            </div>
        </div>

    </div>
</div>

{% endif %}
{% endblock %}
