{% extends "base.html" %}

{% block title %}Happy Dogshop{% endblock %}

{% block body %}

<div class="container">
    <div class="row">
        <div class="card-deck">
    {% for Item in Items %}
        <div class="col-3">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="/img/australian.jpg" alt="{{Item.ItemName}}">
                <div class="card-body">
                    <h5 class="card-title">{{Item.ItemName}}</h5>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Price: {{Item.Price}}</li>
                    <li class="list-group-item">Stock: {{Item.Stock}}</li>
                </ul>
                <div class="card-body">
                    <button type="button" class="btn btn-secondary"><a href="detailpage/ShowDetail/{{Item.ID}}" class="btn">Learn more about {{Item.ItemName}}</a></button>
                </div>
            </div>
            <div class="m-3" ></div>
            <div class="mr-3" ></div>

        </div>
    {% endfor %}
            </div>
</div>
</div>


{% endblock %}

