{% extends "base.html" %}

{% block title %}Happy Dogshop{% endblock %}

{% block body %}
<section class="jumbotron text-center">
    <div class="container">
        <h1 class="jumbotron-heading">Dogs</h1>
        <p class="lead text-muted mb-0">Find the right Dog for you <3</p>
    </div>
</section>
<div class="container">
    <div class="row">

    {% for Item in Items %}
        <div class="col-12 col-md-6 col-lg-4">
            <div class="shadow-sm card">
                <img class="card-img-top" src="{{Item.ImgPath}}" alt="Card image cap">
                <div class="card-body">
                    <h4 class="card-title"><a href="/detailpage/{{Item.ID}}" title="View Product">{{Item.ItemName}}</a></h4>
                    <p class="card-text">{{Item.Description}}</p>
                    <div class="row">
                        <div class="col">
                            <p class="btn btn-danger btn-block">{{Item.Price}} $</p>
                        </div>
                        <div class="col">
                            <a href="/detailpage/showDetail/{{Item.ID}}" class="btn btn-success btn-block">Details</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
            </div>
</div>
</div>




{% endblock %}

