{% extends "base.html" %}

{% block title %}Happy Dogshop{% endblock %}

{% block body %}
<div class="row">
    <div class="col-lg-12">
<section class="jumbotron text-center">
        <h1 class="jumbotron-heading">Dogs</h1>
        <p class="lead text-muted mb-0">Find the right Dog for you <3</p>
</section>
</div>
</div>
<div class="row">
    {% for Item in Items %}
        <div class="col-12 col-md-6 col-lg-3">
            <div class="shadow-sm card">
                <img class="card-img-top"  height="300" src="{{Item.ImgPath}}" alt="Card image cap">
                <div class="card-body">
                    <h4 class="card-title"><a href="/detailpage/showDetail/{{Item.ID}}" title="View Product">{{Item.ItemName}}</a></h4>
                    <div class="row">
                        <div class="col">
                            <h4><span class="badge badge-success">{{Item.Price}} $</span></h4>
                        </div>
                        <div class="col">
                            <a href="/detailpage/showDetail/{{Item.ID}}" class="btn btn-primary btn-block">Details</a>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
        </div>

    {% endfor %}
</div>






{% endblock %}

