{% extends "base.html" %}
{% block title %}Login{% endblock %}
{% block body %}
<div class="row">
    <div class="col-lg-6 mx-auto">
        <form action="/choosePaymentMethod" action="post">
        <select id="CreditCardType" name="CreditCardType" class="form-control">
            {% for Option in PaymentInfo %}
            <option>{{Option.PaymentName}}</option>
            {% endfor %}
        </select>
            <a class="btn btn-success" type="submit" role="button" href="/showOrderOverview">Continue to Overview</a>
    </form>
    </div>
</div>
{% endblock %}